.booking {
    width: 100%;
    height: 100%;
    padding: 20rpx 40rpx;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .title {
        overflow: hidden;
        height: 250rpx;

        image {
            width: 100%;
            height: 100%;
        }
    }

    .content {
        flex: 1;
        padding-top: 20rpx;
        display: flex;

        &_left {
            width: 150rpx;

            &_nav {
                height: 150rpx;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                image {
                    width: 50rpx;
                    height: 50rpx;
                }
            }
        }

        &_right {
            flex: 1;
            display: flex;
            flex-direction: column;

            .options {
                padding-bottom: 20rpx;
                display: flex;
                justify-content: flex-end;

                text {
                    color: #ffffff;
                    display: inline-block;
                    padding: 10rpx 40rpx;
                    border-radius: 30rpx;
                    font-size: 20rpx;
                }

                text:nth-child(1) {
                    background-color: #ED8641;
                }

                text:nth-child(2) {
                    background-color: #5CAE6E;
                }

                text+text {
                    margin-left: 15rpx;
                }
            }

            .list_content {
                flex: 1;
                padding-left: 10rpx;

                .list_scroll {
                    .item {
                        view:nth-child(1) {
                            width: 100%;
                            height: 200rpx;
                            border-top-left-radius: 10rpx;
                            border-top-right-radius: 10rpx;
                            overflow: hidden;

                            image {
                                height: 100%;
                                width: 100%;
                            }
                        }

                        view:nth-child(2) {
                            width: 100%;
                            height: 40rpx;
                            text-align: center;
                            line-height: 40rpx;
                            color: #ffffff;
                            font-size: 20rpx;
                            background-color: #ED8641;
                            // border-bottom-left-radius: 10rpx;
                            // border-bottom-right-radius: 10rpx;
                        }
                    }
                    .item+.item{
                        margin-top: 10rpx;
                    }
                }
            }


        }
    }
}